// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


body {
    font-family: "Space Grotesk", sans-serif;
}

section .description a:hover {
    color: var(--primary-color);
}
section .projectsheader a:hover {
    color: var(--primary-color);
}
footer section div.formulario a:hover {
    color: var(--primary-color);
}




@media (max-width: 767px) {

    .main .home {
        width: 90%;
        height: 70%;
        color: rgb(255, 246, 246);
        margin-left: auto;
        margin-right: auto;
    }
    .main .home h1{
        margin: 0px;
        font-weight: 700;
        font-size: 37px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .main .home span {
        color:var(--primary-color)
    }
    .main .home h3 {
        margin-top: 5px;
    }
    .skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .skills .frontend {
        width: 90%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .frontend h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
    }

    .skills .frontend div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .skills .frontend div img{
        width: 32px;
        height: 32px;
    }
    .skills .backend {
        width: 90%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .backend h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
    }
    .skills .backend div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .skills .herramientas {
        width: 90%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .herramientas h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
    }
    .skills .herramientas div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    .skills .herramientas img{
        width: 32px;
        height: 32px;
    }

    section .projectsheader {
        width: 90%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
        margin-left: 16px;
        margin-bottom: 40px; 
    }

    section .projectsheader h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.14px;
        color: var(--primary-color);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    section .projectsheader a {
        width: 131px;
        height: 26px;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.29px;
        color: var(--white-color);
        text-decoration: underline;
        text-decoration-color: var(--primary-color);
    }
    section div.projects {
        width: auto;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    section div.projects article .divimg{
        width: 100%;
    }
    section div.projects article .divimg img{
        width: 100%;
        height: 253px;
        object-fit: cover;
        display: block;
    }
    section div.projects article .descript {
        width: 100%;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section div.projects article .descript h3{
        width: 100%;
        height: 32px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: var(--white-color);
        margin: 0;        
    }

    section div.projects article .descript .fleximg {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

    section div.projects article .descript img{
        width: 32px;
        height: 32px;
    }
    #githubClick {
        margin-left: auto;
    }
    #githubClick img{
        width: 40px;
        height: 40px;
    }

    section div.projects article .view {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
         
    }
    section div.projects article .view p{
        width: 100%;
        margin-bottom: 20px;
        color: white;
        font-size: 18px;
        font-weight: 200;
        line-height: 22px;
        letter-spacing: 0px;
         
    }

}



















@media (min-width: 767px) and (max-width: 1439px) {
     .main .home {
        width: 100%;
        height: 70%;
        color: rgb(255, 246, 246);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .main .home h1{
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        font-size: 37px;
        line-height: 40px;
        letter-spacing: -2px;
    }

    .main .home .home-content {
        padding-left: 30px;
    }
    .main .home span {
        color:var(--primary-color)
    }
    .main .home h3 {
        margin-top: 5px;
    }
    .skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .skills .frontend {
        width: 100%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .frontend h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
        font-size: 35px;
    }

    .skills .frontend div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .skills .frontend div img{
        width: 40px;
        height: 40px;
    }
    .skills .backend {
        width: 100%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .backend h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
        font-size: 35px;
    }
    .skills .backend div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .skills .backend div img{
        width: 40px;
        height: 40px;
    }
    .skills .herramientas {
        width: 100%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .herramientas h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
        font-size: 35px;
    }
    .skills .herramientas div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .skills .herramientas img{
        width: 40px;
        height: 40px;
    }

    section .projectsheader {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
        margin-left: 16px;
        margin-bottom: 40px; 
    }

    section .projectsheader h1{
        font-weight: 700;
        font-size: 60px;
        line-height: 40px;
        letter-spacing: -1.14px;
        color: var(--primary-color);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    section div.projects {
        width: auto;
        height: 100%;
    }

     section div.projects article{
        display: flex;
        flex-direction: column;
        margin: 30px;
        gap: 5px;
     }
    section div.projects article .divimg{
        width: 100%;
        height: auto;
    }
    section div.projects article .divimg img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        display: block;
        border-style: solid;
        border-color: var(--primary-color);
        border-width: 4px;
        border-radius: 10px;
    }
    section div.projects article .descript {
        width: 100%;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section div.projects article .descript h3{
        width: 100%;
        height: 32px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
        color: var(--white-color);
        margin: 0;        
    }

    section div.projects article .descript .fleximg {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }

    section div.projects article .descript img{
        width: 40px;
        height: 40px;
    }
    #githubClick {
        margin-left: auto;
    }
    #githubClick img{
        width: 40px;
        height: 40px;
    }

    section div.projects article .view {
        width: 100%;
        height: 100%;
         
    }
    section div.projects article .view p{
        width: 100%;
        color: white;
        font-size: 24px;
        font-weight: 200;
        padding: 10px;
        margin: 0px;
        line-height: 22px;
        letter-spacing: 0px;
         
    }
}












@media (min-width: 1440px){
    .main .home {
        width: 100%;
        height: 70%;
        color: rgb(255, 246, 246);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .main .home h1{
        margin: 0px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -2px;
    }


    .main .home .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main .home span {
        color:var(--primary-color)
    }
    .main .home h3 {
        margin-top: 5px;
        text-align: center;
        font-size: 30px;
    }

    .main .home .home-content p {
        font-size: 24px;
        text-align: center;
    }
    .skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .skills .frontend {
        width: 100%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .frontend h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
        font-size: 42px;
    }

    .skills .frontend div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .skills .frontend div img{
        width: 50px;
        height: 50px;
    }
    .skills .backend {
        width: 100%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .backend h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
        font-size: 42px;
    }
    .skills .backend div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .skills .backend div img{
        width: 50px;
        height: 50px;
    }
    .skills .herramientas {
        width: 100%;
        height: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .skills .herramientas h3{
        color: var(--primary-color);
        margin: 0;
        text-align: center;
        font-size: 42px;
    }
    .skills .herramientas div {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .skills .herramientas img{
        width: 50px;
        height: 50px;
    }


    section .projectsheader {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        margin-left: 16px;
        margin-bottom: 40px; 
    }

    section .projectsheader h1{
        font-weight: 700;
        font-size: 60px;
        line-height: 40px;
        letter-spacing: -1.14px;
        color: var(--primary-color);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    section div.projects {
        width: 1600px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        margin-left: auto;
        margin-right: auto;
    }

     section div.projects article{
        display: flex;
        flex-direction: column;
        margin: 30px;
        gap: 5px;
     }
    section div.projects article .divimg{
        width: 100%;
        height: auto;
    }
    section div.projects article .divimg img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        display: block;
        border-style: solid;
        border-color: var(--primary-color);
        border-width: 4px;
        border-radius: 10px;
    }

    section div.projects article .descript {
        width: 100%;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section div.projects article .descript h3{
        width: 100%;
        height: 32px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0px;
        color: var(--white-color);
        margin: 0;        
    }

    section div.projects article .descript .fleximg {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }

    section div.projects article .descript img{
        width: 42px;
        height: 42px;
    }
    #githubClick {
        margin-left: auto;
    }
    #githubClick img{
        width: 40px;
        height: 40px;
    }

    section div.projects article .view {
        width: 100%;
        height: 100%;
         
    }
    section div.projects article .view p{
        width: 100%;
        color: white;
        font-size: 26px;
        font-weight: 200;
        padding: 10px;
        margin: 0px;
        line-height: 22px;
        letter-spacing: 0px;
         
    }
}